/*! default.css 2019.11.16. Tpb.CSS $
 ++++++++++++++++++++++++++++++++++++++++
 *
 *  基础PB样式定义
 *  实现一些基础性的效果，比如元素隐藏、折叠/子菜单、禁用等。
 *
 *  元素的 data-pbo 特性值用于表达一种选项逻辑，如：
 *      <span data-pbo="opt1 opt2">
 *  这有点类似于类名特性。CSS样式通过 ~= 选择器定位。
 *
 *  元素的 data-pba 特性值用于表达一种有序的参数逻辑，如：
 *      <span data-pba="one-two-">
 *  这可方便样式的分段共享设计。CSS通过 |= 选择器定位。
 *
 *  @author 风林 zhliner@gmail.com
 *
 ******************************************************************************
 */

*[data-pbo] {
    opacity: 1;
    transition: opacity 0.2s, visibility 0s;
}


/* 基本效果
 ***********************************************/

/* 隐藏 */
*[data-pbo~='hidden'] {
    opacity: 0;
    visibility: hidden !important;
}

/* 消失 */
*[data-pbo~='lost'] {
    opacity: 0;
    display: none !important;
}

/* 冻结 */
*[data-pbo~='disabled'],
*[data-pbo~='disabled']:hover,
*[data-pbo~='disabled'] *,
*[data-pbo~='disabled']:hover * {
    color: #aaa !important;
    filter: grayscale(1) !important;
}

/* 折叠：
 * 隐藏除首个子元素之外的子元素。
 */
*[data-pbo~='folded'] > :first-child ~ * {
    opacity: 0;
    display: none !important;
}

/* 截断：
 * 隐藏后续兄弟元素。
 */
*[data-pbo~='truncated'] ~ * {
    opacity: 0;
    display: none !important;
}

/* 充满容器：
 * 需设置容器的position样式非static。
 */
*[data-pbo~='fulled'] {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



/* 绝对定位：
 * - 通过 top, left 设置准确位置。
 * - 参考四角设置 margin-x 调整边沿。
 *-------------------------------------
 */
[data-pba|=fix] {
    position: absolute;
}
[data-pba=fix-lt] { left: 0; top: 0; }     /* 左上 */
[data-pba=fix-rt] { right: 0; top: 0; }    /* 右上 */
[data-pba=fix-rb] { right: 0; bottom: 0; } /* 右下 */
[data-pba=fix-lb] { left: 0; bottom: 0; }  /* 左下 */
